body{
	margin:0;
	overflow:hidden;
	background: #333;
}
#game_container{
	width:960px;
	height:540px;
	position: relative;
	background: #000;
}
#game_container > div{
	position: absolute;
	width:960px;
	height:480px;
}
#mask{
	background: url(../img/mask.png);
}
#runner_canvas{
	width: 300px;
	height: 300px;
	position: absolute;
	left:330px;
	top:240px;
}
#instructions{
	font-size: 30px;
	color: #ddd;
	font-family: sans-serif;
	font-weight: 100;
	width: 960px;
	text-align: center;
	margin-top: 20px;
}